NODE_ENV=development
PORT=5000
DATABASE_URL=your_database_url_here
BETTER_AUTH_SECRET=your_better_auth_secret_here
BETTER_AUTH_URL=your_better_auth_url_here
AUTH_API_KEY=your_auth_api_key_here
MONTHLY_PLAN_PRICE_ID=your_monthly_plan_price_id_here
YEARLY_PLAN_PRICE_ID=your_yearly_plan_price_id_here
STRIPE_SECRET_KEY=your_stripe_secret_key_here
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret_here
CLIENT_URL=your_client_url_here
FRONTEND_URL=your_frontend_url_here
BACKEND_URL=your_backend_url_here
EMAIL_USER=your_email_user_here
EMAIL_PASS=your_email_pass_here